@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");
:root {
  --almostWhite: #e6e5ea;
  --grey: #817d92;
  --darkGrey: #24232c;
  --veryDarkGrey: #18171f;
  --neonGreen: #a4ffaf;
  --red: #f64a4a;
  --orange: #fb7c58;
  --yellow: #f8cd65;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

body {
  background-color: #08070b;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 667px;
  width: 375px;
  margin: 0 auto;
  background-color: #08070b;
  color: white;
  /* padding-block: 2rem; */
  margin-block: 2rem;
}

h1 {
  font-size: 1.5rem;
  padding-bottom: 0.375rem;
  color: var(--grey);
}

.password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkGrey);
  height: 4rem;
  padding-inline: 1rem;
  width: 95%;
  cursor: pointer;
}

.password p {
  font-size: 1.5rem;
  color: var(--almostWhite);
}
.password svg {
  width: 2rem;
  stroke: var(--neonGreen);
}

.length {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.options-container {
  margin-top: 1rem;
  background-color: var(--darkGrey);
  width: 95%;
  padding: 1rem;
}

.options-container p,
span {
  font-size: 1.5rem;
}

span {
  color: var(--neonGreen);
}

.checkboxes {
  padding-inline: 1rem;
  /* margin-bottom: 1rem; */
  margin-block: 1.5rem;
}

.checkboxes input {
  font-size: 3rem;
  line-height: 2rem;
  color: red;
  background-color: green;
}

.checkboxes label {
  padding-left: 1.25rem;
  font-size: 1rem;
}

.evaluatePassword {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--veryDarkGrey);
  padding-inline: 1rem;
  height: 4.5rem;
  margin-block: 2rem;
}

.evaluatePassword p {
  font-size: 1.25rem;
}

.strengthIndicator {
  display: flex;
  justify-content: space-evenly;
  width: 166px;
}

.chevrons {
  display: flex;
  justify-content: space-evenly;
  gap: 0.2rem;
  /* max-width: 100px; */
}

.generateBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkGrey);
  background: var(--neonGreen);
  font-weight: bold;
  width: 100%;
  padding: 1.25rem 1.5rem;
  border: 2px solid var(--neonGreen);
  margin-block: 1rem;
}

.generateBtn:hover {
  cursor: pointer;
  background: transparent;
  color: var(--neonGreen);
}
